
<script src="/assets/amazeui.min.js"></script>
<div class="admin-content">


  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>设备管理</small></div>
  </div>


  <div class="am-g">
    <div class="am-u-md-6 am-cf">
      <div class="am-fl am-cf">
        <div class="am-btn-toolbar am-fl">
          <div class="am-btn-group am-btn-group-xs">

          </div>


        </div>
      </div>
    </div>
    <div class="am-u-md-3 am-cf">
      <div class="am-fr">
        <div class="am-input-group am-input-group-sm">
          <input type="text" class="am-form-field">
                <span class="am-input-group-btn">
                  <button class="am-btn am-btn-default" type="button">搜索</button>
                </span>
        </div>
      </div>
    </div>
  </div>

  <div class="am-g">
    <div class="am-u-sm-12">
      <form class="am-form">
        <table class="am-table am-table-striped am-table-hover table-main">
          <thead>
          <tr>
            <th class="table-check"><input type="checkbox" /></th><th class="table-id">ID</th><th class="table-title">设备名</th><th class="table-type">价值</th><th class="table-author">借取人</th><th class="table-date">借取时间</th><th class="table-title">借取状态</th><th class="table-set">操作</th>
          </tr>
          </thead>
          <tbody>
          <% @equipments.each do |e| %>
              <tr>
                <td><input id="<%=e.id %>" type="checkbox" /></td>
                <td ><%=e.id %></td>
                <td><a href="#"><%=e.equipment_name %></a></td>
                <td><%=e.price  %></td>
                <td><%=e.borrow_user_name %></td>


                <td><% @format="%Y-%m-%d %H:%M:%S" %><%=e.borrow_time %></td>

                <td><%if !e.borrow_user_name.nil?||e.is_damaged==true %>

                      不可借用
                  <%else%>
                      可以借用
                  <%end%></td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">


                      <a  style="background: white" onclick="confirm_delete('<%=e.id %>','<%=e.borrow_user_id%>')" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 归还</a>

                    </div>
                  </div>
                </td>
              </tr>
          <% end %>


          </tbody>
        </table>
        <div class="am-fr">
          <%= paginate @equipments %>
        </div>


        <hr />
        <p>注：只有管理员拥有最高权限</p>
      </form>
    </div>

  </div>



</div>

<script>

    function confirm_delete(id,userid){


        if(confirm("确定归还吗")){

            window.location.href="/equipment/"+id+"/delete_revert?user_id="+userid
        }
    }

</script>