
<script src="/assets/amazeui.min.js"></script>
<div class="admin-content">


  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>设备管理</small></div>
  </div>


  <div class="am-g">
    <div class="am-u-md-6 am-cf">
      <div class="am-fl am-cf">
        <div class="am-btn-toolbar am-fl">
          <div class="am-btn-group am-btn-group-xs">
            <%if current_user.admin? %>
            <a href="/equipment/new" type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</a>
<%end%>
            <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>-->
          </div>


        </div>
      </div>
    </div>
    <div class="am-u-md-3 am-cf">
      <div class="am-fr">
        <div class="am-input-group am-input-group-sm">


        </div>
      </div>
    </div>
  </div>

  <div class="am-g">
    <div class="am-u-sm-12">
      <form class="am-form">
        <table class="am-table am-table-striped am-table-hover table-main">
          <thead>
          <tr>
            <th class="table-check"><input type="checkbox" /></th><th class="table-id">ID</th><th class="table-title">设备名</th><th class="table-type">价值</th><th class="table-author">入库人</th><th class="table-date">入库日期</th>
            <th class="table-author">完好状态</th>
            <th class="table-author">借取状态</th>
            <th class="table-set">操作</th>
          </tr>
          </thead>
          <tbody>
        <% @equipments.each do |e| %>
          <tr>
            <td><input id="<%=e.id %>" type="checkbox" /></td>
            <td ><%=e.id %></td>
            <td><a href="/equipment/profile/<%=e.id %>"><%=e.equipment_name %>(<%=e.count %>)</a></td>
            <td><%=e.price  %></td>
            <td><%=e.post_user_name %></td>
            <td><% @format="%Y-%m-%d %H:%M:%S" %><%=e.created_at.localtime.strftime(@format) %></td>
            <td><%if e.is_damaged==true %>

              损坏
                  <%else%>
              完好
                  <%end%></td>
            <td><%if !e.borrow_user_name.nil?||e.is_damaged==true %>

                  不可借用
              <%else%>
                  可以借用
              <%end%></td>

            <td>
              <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">

                  <%if current_user.admin? %>
                  <a  style="background: white" href="/equipment/<%=e.id %>/edit" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</a>

            <%= link_to content_tag(:span,  "删除", :class=>'am-icon-trash-o'),
                        {:controller => "equipment", :action => "delete", :id => e.id} ,
                        :class => 'am-btn am-btn-default am-btn-xs am-text-danger',
                        :style => 'background:white',
                        :type =>'button'
                        %>
                      <%end%>
                </div>
              </div>
            </td>
          </tr>
              <% end %>


          </tbody>
        </table>
        <div class="am-fr">
          <%= paginate @equipments %>
        </div>


        <hr />
        <p>注：只有最高管理员才可以进行删除操作</p>
      </form>
    </div>

  </div>



    </div>
